<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Internet – osmdroid karttatiilien lataus + Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- GPS-sijainti -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Verkkosijainti (varapaikannus) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Askelmittari (Android 10+) -->
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <!-- Kamera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Android 13+ kuvien lukeminen -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <!-- Vanhemmille laitteille -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".LuontopeliApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LuontopeliSplash">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Luontopeli">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>